[Unit]
Description=Run TrustPanel DB backup twice daily (11:00 and 23:00 MSK)

[Timer]
OnCalendar=*-*-* 08:00:00
OnCalendar=*-*-* 20:00:00
Persistent=true
Unit=trustpanel-backup.service

[Install]
WantedBy=timers.target
